<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Filmy
		</title>
		<link rel="stylesheet" href="/index.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	</head>
	<body class="layout">
		{% include "hlavicka.njk" %}
		<div class="layout__telo">
			{{ content | safe }}
		</div>
		{% include "paticka.njk" %}
	</body>
</html>