---
layout: zakladni
---

<h1>Všechny</h1>
<ul class="list">
	{% for film in filmy %}
    <li class="list__item">
      <a class="list__link" href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a>
    </li>
	{% endfor %}
</ul>