---
layout: zakladni
permalink: "/puvod-dat/"
---
<h2>Původ dat</h2>
<p>Data byla převzata z webu <a href="www.csfd.cz">www.csfd.cz</a> za účelem využití jako zkušební obsah pro výuku práce s nástrojem <a href="https://www.11ty.dev/docs/getting-started/">Eleventy</a>. Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.</p>